$main-nav-height: 80px;

@mixin main-nav-small {
    position: relative;
    height: auto;
    padding-top: 10px;
    overflow: hidden;

    &:after, &:before {
        display: none;
    }

    .main-nav-logo, .menu {
        float: left;
        clear: left;
    }

    .main-nav-logo {
        width: 100%;
        padding-right: 50px;
        margin-bottom: 0 !important;

        width: calc(100% - 50px);
        padding-right: calc(0px);

        img {
            display: block;
            margin: 10px auto;
            position: static;
            max-width: 50px;
            float: left;
        }
        h1 {
            float: left;
            margin-top: 15px;
            margin-left: 10px;
            font-size: 2.1rem;
        }
    }

    .menu {
        width: 100%;
        text-align: center;
        margin-top: 0;
        display: none;

        &.share {
            padding-top: 10px;
        }
    }

    .main-nav-toggle,
    .main-nav-toggle-hamburger {
        display: block;
    }
}
@include mq(320px) {
    .main-nav .main-nav-logo h1 {
        font-size: 1.7rem !important;
        margin-top: 20px !important;
    }
}

.main-nav {
    @include wh(calc(100% - #{$default-padding * 2}), $main-nav-height);
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @include respond-until($screen-sm) {
        @include main-nav-small;
    }

    &[data-type="small"] {
        @include main-nav-small;
    }

    .share {
        margin: 10px 0 0 0;
        clear: right;
    }

    h1 {
        font-size: 3rem;
        margin-top: 0;
        position: relative;
        top: -35px;
        left: -10px;
    }

    @include respond-until($screen-sm) {
        h1 {
            position: static;
        }

        .main-nav-logo {
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.main-nav-logo {
    float: left;

    img {
        max-width: 100px;
        width: 100%;
        position: relative;
        top: 5px;
        left: -10px;
    }
}

.menu {
    float: right;

    &, li {
        @include reset;
    }

    & {
        margin-top: 27px;
    }

    li {
        list-style: none;
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
        padding: 5px 10px;
        font-weight: bold;
        transition: 200ms transform;
    }

    li:nth-child(1) {
        background: $red;
        transform: rotate(2deg);
    }

    li:nth-child(2) {
        background: $green;
        transform: rotate(-2deg);
    }

    li:nth-child(3) {
        background: $purple;
        transform: rotate(3deg);
    }

    li:nth-child(4) {
        background: $orange;
        transform: rotate(-3deg);
    }

    li:nth-child(5) {
        background: $yellow;
        transform: rotate(5deg);
    }

    li:hover {
        transform: rotate(0deg);
    }

    li:last-child {
        margin-right: 0;
    }

    a {
        font-size: 2rem;
        color: $black;
    }

    @include respond-until($screen-sm) {
        &.share {
            float: none;
        }
    }
}

.main-nav-mini {
    text-align: center;

    ul {
        float: none;
        display: inline-block;
        margin-top: 5px;
    }
}

.main-nav-toggle {
    display: none;
    position: absolute;
    z-index: 2;
    top: 20px;
    width: 40px;
    height: 40px;
    right: 15px;
    opacity: 0;
    outline: none;
    cursor: pointer;
}
.main-nav-toggle-hamburger {
    display: none;
    top: 39px;
    right: 25px;
    width: 20px;
    height: 2px;

    &,
    &:before,
    &:after {
        position: absolute;
        background-color: $black;

        .main-nav-toggle:hover + &,
        .main-nav-toggle:checked + & {
            background-color: $red;
        }
    }
    &:before,
    &:after {
        content: '';
        display: block;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:before {
        bottom: 6px;
    }
    &:after {
        top: 6px;
    }
}

.main-nav-toggle:checked ~ .main-nav-logo {
    margin-bottom: 10px !important;
}
.main-nav-toggle:checked ~ .menu {
    display: block;
}
