.projects,
.project {
    max-width: 960px;
    margin: 20px auto 50px;
    clear: both;

    iframe,
    img {
        display: block;
        max-width: 100%;
        margin: 20px auto;
    }
}
.project-heading {
    margin: 10px 0;
    padding: 0;
    background: none;
    transform: none !important;
    float: left;
}

.projects-notification {
    margin: 10px 0 0;
    background-color: $primary;
    color: $black;
    padding: 18px 20px 20px;

    p {
        margin: 0 0 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
    @include mq('small') {
        margin-left: -27px;
        margin-right: -27px;
        padding-left: 27px;
        padding-right: 27px;
        padding-bottom: 25px;
    }
}
.projects-notification-heading,
.projects-notification-subheading,
.project-excerpt-heading,
.project-heading,
.project h1, .project h2, .project h3, .project h4 {
    display: block;
    margin: 0 0 8px;
    padding: 0;
    background: none !important;
    transform: none !important;
    color: $black !important;
    font-size: 2.5rem;
}
.projects-notification-heading {
    @include mq('small') {
        font-size: 1.9rem;
        margin-bottom: 0;
    }
}
.projects-notification-description {
    @include mq('small') {
        display: none;
    }
}
.projects-notification-goal {
    @include mq('small') {
        font-size: 1.4rem;
    }
}
.projects-notification-subheading {
    font-size: 2rem;
    margin-bottom: 0;
}
.projects-notification-icon {
    position: relative;
    padding-left: 45px;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    &:before {
        position: absolute !important;
        top: 0 !important;
        width: 32px !important;
        height: 60px !important;
        left: 0;
    }
    &.project-vote-experimental:before {
        background-image: url('../img/icon-experiment.gif');
    }
    &.project-vote-potential:before {
        top: 14px !important;
        background-image: url('../img/icon-potential.gif');
    }

    @include mq('small') {
        margin-bottom: 0;

        .projects-notification-subheading {
            padding: 15px 0 5px;
        }
        p {
            display: none;
        }
    }
}

.projects-filter {
    display: block;
    width: 100%;
    text-align: center;
    padding: 35px 0 38px;

    @include mq('small') {
        padding: 25px 0;
    }
}
.projects-filter-toggle-label {
    cursor: pointer;
    font-size: 2rem;

    &:after {
        content: '';
        position: relative;
        top: -4px;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-left: 15px;
        border-bottom: 2px solid #ccc;
        border-left: 2px solid #ccc;
        transform: rotate(-45deg);
        transition: all .2s;

        .projects-filter-toggle:checked ~ & {
            top: 4px;
            transform: rotate(135deg);
        }
    }
    &:hover:after {
        border-color: $black;
    }
}
.projects-filter-toggle {
    display: none;
}
.projects-filter-content {
    display: none;
    margin-top: 10px;
    text-align: left;

    .projects-filter-toggle:checked ~ & {
        display: block;
    }
}
.projects-filter-list {
    display: block;
    padding: 0;
    margin: .5rem 0 2rem;
    list-style-type: none;
    clear: both;
    @extend .clearfix;

    li {
        float: left;
        margin-right: 12px;

        label {
            display: block;
            margin: 5px 0;
            padding: 6px 12px;
            background-color: #eee;
            cursor: pointer;
            font-weight: normal;

            &:hover {
                color: #fff;
                background-color: $black;
            }
        }
        input {
            display: none;

            &:checked + label {
                background-color: $primary;
                color: $black;
            }
        }
    }
}
.projects-list--clone {
    display: none;
}

.projects-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.project-excerpt {
    position: relative;
    display: block;
    padding: 20px;
    height: 280px;
    color: #fff;
    margin-bottom: $grid-column-gutter;

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 33%;
        min-height: 120px;
        opacity: .5;
        background: linear-gradient(to bottom, #000, rgba(#000, .01));
    }
}
.project-excerpt-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.project-excerpt-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eee url('../img/project-default.png') center;
    background-size: cover;
    transition: all .3s;

    .project-excerpt:hover & {
        transform: scale(1.025);
    }
}
.project-excerpt-heading {
    position: relative;
    z-index: 2;
    padding-right: 125px;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #fff !important;
}
.project-excerpt-subheading {
    position: relative;
    z-index: 2;
    display: block;
    padding-right: 125px;
    margin-top: 2px;
    line-height: 1.3;
}
.project-excerpt-votes {
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 20px;
    background-color: $primary;
    color: $black;
}
.project-vote {
    display: inline-block;
    padding: 10px 6px;
    cursor: pointer;

    &:first-child {
        padding-left: 12px;
    }
    &:last-child {
        padding-right: 14px;
    }
    &:hover,
    &.is-active {
        font-weight: bold;
    }
    &.is-active {
        cursor: default;
    }
}
.project-vote-icon {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 14px;
    height: 26px;
    margin-right: 2px;
    vertical-align: middle;

    svg {
        width: 100%;
        height: 100%;
    }

    .project-vote-experimental & {
        top: -4px;
    }
    .project-actions & {
        margin-right: 4px;
    }
}
.project-vote-icon--large {
    width: 30px;
    height: 40px;
}

.project-excerpt-anchor {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.project-excerpt-banner {
    position: absolute;
    left: -6px;
    bottom: 64px;
    display: block;
    padding: 6px 15px 6px 26px;
    background-color: $primary;
    color: $black;
    font-size: 1.1rem;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 2px rgba(#000, .25);

    &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        border: 3px solid mix(#000, $primary, 25%);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

// Members
.project-members {
    z-index: 4;
    padding: 0;
    margin: 25px 0 0 10px;
    list-style-type: none;
    float: right;

    @include mq('small') {
        float: none;
        margin-left: 0;
        margin-bottom: 5px;
        overflow: auto;
    }

    .project-excerpt & {
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: 0;
        float: none;
    }

    li {
        cursor: default;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin-right: 6px;
        float: left;
        background: $black url('../img/member-default.png') center no-repeat;
        background-size: cover;
        @extend .hide-text;

        &:last-child {
            margin-right: 0;
        }
    }
}

// Singles
.project-heading {
    font-size: 4rem !important;

    @include mq('small') {
        font-size: 3rem !important;
    }
}
.project-event {
    display: block;
    margin: -10px 0 12px;
    float: left;
    clear: left;
}
.project-lead {
    font-weight: bold;
    margin-bottom: 2.5rem !important;
}
.project-content {
    clear: both;
    position: relative;
    padding-top: 80px;
}
.project-actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 0 2rem;
    background-color: #eee;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    @extend .clearfix;

    @include mq('small') {
        margin-left: calc(-15px);
        margin-right: calc(-15px);
        width: calc(100% + 30px);
    }

    &.is-sticky {
        position: fixed;
        left: 50%;
        width: 100%;
        max-width: 960px;
        margin: 0;
        transform: translateX(-50%);

        body.admin-bar & {
            margin-top: 32px;

            @include mq(782px) {
                margin-top: 46px;
            }
            @include mq(600px) {
                margin-top: 0;
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        float: left;
        @extend .clearfix;

        &:last-child {
            margin-right: 0;
        }
        &.right {
            float: right;

            li {
                > a,
                > span {
                    border-right: none;
                    border-left: 3px solid #ddd;
                }
            }
        }

        li {
            float: left;

            > a,
            > span {
                display: block;
                padding: 12px 18px !important;
                border-right: 3px solid #ddd;
                color: $black;
                cursor: pointer;

                &:hover {
                    background-color: $primary;
                }
                &.project-actions-fb,
                &.project-actions-twitter {
                    color: #fff;
                    border: none;
                    transition: background .15s;
                }
                &.project-actions-fb {
                    background-color: #3b5998;

                    &:hover {
                        background-color: mix(#000, #3b5998, 10%);
                    }
                }
                &.project-actions-twitter {
                    background-color: #55acee;

                    &:hover {
                        background-color: mix(#000, #55acee, 10%);
                    }
                }
            }
        }
    }
}
.project-actions-container {
    @extend .clearfix;
}
.project {
    p {
        margin: 0 0 1.25rem;
    }
}

.projects-list-empty {
    display: none;
    text-align: center;
}

// Vote icon animations
.project-vote-potential,
.project-vote-experimental {
    &:before {
        content: '';
        position: relative;
        display: inline-block;
        width: 20px;
        height: 32px;
        margin-top: -12px;
        margin-right: 5px;
        background: transparent center no-repeat;
        background-size: contain;
    }
}
.project-vote-potential:before {
    top: 9px;
    background-image: url('../img/icon-potential.png');
}
.project-vote-potential:hover,
.project-vote-potential.is-active {
    &:before {
        background-image: url('../img/icon-potential.gif');
    }
}
.project-vote-experimental:before {
    top: 3px;
    background-image: url('../img/icon-experiment.png');
}
.project-vote-experimental:hover,
.project-vote-experimental.is-active {
    &:before {
        background-image: url('../img/icon-experiment.gif');
    }
}