$font-text: 'OpenSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-header: $font-text;

$black: #333;
$grey: #999;
$offwhite: #eee;
$default-padding: 20px;
$blue: #4343fe;
$green: #66fe43;
$orange: #fe9b43;
$red: #fe4343;
$yellow: #fef343;
$purple: #ef43fe;

$primary: $yellow;
$secondary: $red;
